.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #3d3d3d;
    padding: 20px;
    .logo {
        display: block;
        width: 194px;
        height: 63px;
        margin: 0 auto;
    }
}
